<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="AHT_Pike::Pike" title="SA Products" module="AHT_Pike" sortOrder="10" action="pike/index/index" parent="Magento_Reports::report_products" resource="AHT_Pike::Pike"/>
    </menu>
</config>