<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="AHT\Pike\Api\Data\SaleAgentInterface" type="AHT\Pike\Model\SaleAgent" />
    <preference for="AHT\Pike\Api\SaleAgentRepositoryInterface" type="AHT\Pike\Model\SaleAgentRepository" />

    <!-- <type name="Magento\Customer\Model\Data\Customer">
        <plugin name="aht_changefirstnameplugin" type="AHT\Pike\Plugin\Customer\FirstnamesaPlugin" sortOrder="1" disabled="false"/>
    </type> -->

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="sale_agent_listing_data_source" xsi:type="string">AHT\Pike\Model\ResourceModel\Product\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <!-- for search component -->
    <type name="Magento\Catalog\Ui\DataProvider\Product\ProductDataProvider">
        <arguments>
            <argument name="addFilterStrategies" xsi:type="array">
                <item name="fulltext" xsi:type="object">Magento\CatalogSearch\Ui\DataProvider\Product\AddFulltextFilterToCollection</item>
            </argument>
        </arguments>
    </type>
</config>